:root {
  --color-primary: #FF885B;
  --color-secondary: #FFE5CF;
  --color-accent: #557C56;
  --color-light: #339136;
  --color-dark: #33372C;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--color-dark);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: var(--color-primary);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-container{
  background-color: var(--color-secondary);
}

.logo {
  width: 100px;
  height: 100px;
}

/* Navbar */

.navbar-link {
  color: var(--color-secondary) !important;
  font-size: 1.3rem;
  margin-right: 10px;
}

.navbar-link:hover {
  color: var(--color-secondary);
  text-decoration: underline;
}

.navbar-link.active {
  color: var(--color-secondary);
}

.navbar-toggler {
  background-color: var(--color-secondary);
}
nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
	outline: none;
    box-shadow: none;
}
nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid var(--color-light);;
  transition: all 300ms linear;
  top: -2px;
}
nav.navbar .navbar-toggler-icon:focus {
	border-bottom: 2px solid var(--color-light);;
}
nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
	width: 24px;
	position: absolute;
	height: 2px;
	background-color: var(--color-light);;
	top: 0;
	left: 0;
	content: '';
	z-index: 2;
	transition: all 300ms linear;
}
nav.navbar .navbar-toggler-icon:after {
	top: 8px;
}

/* Step 2 */

.meal-type-img{
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
}

.meal-type-btn {
  background-color: var(--color-accent);
  border-color: var(--color-accent);
  color: white;
  font-size: 1.5rem;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 10px;
}

.meal-type-btn.active {
  background-color: var(--color-dark) !important;
  border-color: var(--color-dark) !important;
}

.meat-dropdown-item{
  margin: 10px;
}

.meat-list-item:hover {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: white;
}

.background-color {
  background-color: var(--color-dark);
}

.card-body-bg {
  background-color: white;
}

html, body {
  height: 100%;
  margin: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

/* Footer styles */
.footer {
  text-align: center;
  width: 100%;
}

.footer-copyright {
  color: var(--color-primary);
}

.footer-link {
  color: var(--color-accent);
}

.footer-bottom {
  bottom: 0 !important;
}

/* Buttons */

.cooking-lab-start-btn{
  background-color: var(--color-accent);
  border-color: var(--color-accent);
  color: white;
  font-size: 1.5rem;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 10px;
}

.cooking-lab-btn {
  background-color: var(--color-accent);
  border-color: var(--color-accent);
}

.cooking-lab-btn:hover {
  background-color: var(--color-dark);
  border-color: var(--color-dark);
}

.cooking-lab-btn.active {
  background-color: var(--color-accent);
  border-color: var(--color-accent);
}

.cooking-lab-btn-option {
  background-color: var(--color-light);
  border-color: var(--color-light);
}

.cooking-lab-btn-option:hover {
  background-color: var(--color-dark);
  border-color: var(--color-dark);
}

.cooking-lab-btn-option.active{
  background-color: var(--color-dark);
  border-color: var(--color-dark);
}

.meat-btn {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: white;
}

/* Links */
.cooking-lab-link {
  text-decoration: none;
  color: var(--color-accent);
  font-weight: bold;
  transition: color 0.3s ease;
}

.cooking-lab-link:hover {
  color: var(--color-dark);
  text-decoration: underline;
}

.cooking-lab-dropdown-item {
  cursor: pointer;
}

.cooking-lab-dropdown-item:hover {
  background-color: var(--color-accent);
  border-color: var(--color-accent);
  color: white;
}

.cooking-lab-dropdown-item:active {
  background-color: var(--color-accent);
  border-color: var(--color-accent);
  color: white;
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loading-logo {
  width: 100px; /* Adjust size as needed */
  height: 100px; /* Adjust size as needed */
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*DEBUG*/
.debug-item{
  color: var(--color-accent);
 }
.debug-item:hover{
  text-decoration: underline;
  cursor: pointer;
}

.debug-content {
  position: absolute;
  background-color: white;
  right: 10px;
  z-index: 1000;
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Personal Recipes */
.vertical-line {
  width: 1px;
  background-color: black;
  height: 100%;
}
